//  Typography etc

$type-scale: (
  small: (
    700: 0.875rem,
    800: 1.125rem,
    900: 2.5rem,
  ),
  large: (
    800: 0.75rem,
  )
);


.fw-bold{font-weight: 700;}

.fw-regular{font-weight: 400;}

.t-primary{
  color: hsl(220, 98%, 61%);
}

